@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env

<p>@env.EnvironmentName</p>

<environment include="Development">
    <p>Estamos en desarrollo</p>
</environment>

<ul>
    @foreach (var pais in Model)
    {
        <li>@pais</li>
    }
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

